# torch / torchvision come from the pytorch/pytorch CUDA base image
ultralytics
pillow

onnx
onnxruntime
onnxruntime-tools

google-cloud-storage
bigquery
google-api-python-client
google-auth

ffmpeg-python
